.loading-screen {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B1215; /* Semi-transparent black background */
  z-index: 9999; /* Ensure it is above other content */
  margin-bottom: 130px;
}

.loading-screen .question {
  font-size: 2em; /* Adjust the font size for the question */
  text-align: center; /* Center text */
  margin-bottom: 10px; /* Space between question and countdown */
}

.loading-screen .stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-screen .spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-top: 10px solid #ffffff; /* White border on top */
  border-radius: 50%; /* Make it a circle */
  animation: spin 2s linear infinite; /* Spin animation */
  margin-bottom: 20px; /* Space between spinner and text */
  position: relative; /* To position countdown number inside */
}

.loading-screen .countdown {
  position: absolute; /* Position inside the spinner */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to be perfectly centered */
  font-size: 2em; /* Adjust the font size for countdown */
  text-align: center; /* Center text */
}

.loading-screen .dots {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Space above the dots */
}

.loading-screen .dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ffffff; /* Dot color */
  border-radius: 50%; /* Make dots circular */
  opacity: 0.3; /* Start with lower opacity */
  transition: opacity 0.5s; /* Smooth transition for opacity */
}

.loading-screen .dots .dot.active {
  opacity: 1; /* Highlight active dots */
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.waiting-text {
  margin-top: 15px;
}

.user-icon {
  margin-right: 5px;
  margin-top: -6px;
  font-size: large;
}

.user-label {
  background-color: #0B1215;
  padding: 10px;
  border-radius: 5px;
  margin-top: -8px;
}

.Player-icon {
  position: fixed;
  top: 35px;
  right: 15px;

}