.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(11, 18, 21);
  z-index: 9999;
  margin-bottom: 130px;
}

.loading-screen .question {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.loading-screen .stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-screen .spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 255, 255, 0.3);
  border-top: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
  position: relative;
}

.loading-screen .countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}

.loading-screen .dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loading-screen .dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.loading-screen .dots .dot.active {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.waiting-text {
  margin-top: 15px;
}

.user-icon {
  margin-right: 5px;
  margin-top: -6px;
  font-size: large;
}

.user-label {
  background-color: rgb(11, 18, 21);
  padding: 10px;
  border-radius: 5px;
  margin-top: -8px;
}

.Player-icon {
  position: fixed;
  top: 35px;
  right: 15px;
}
