body,
html,
p {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove scrollbars */
  height: 100%;
  color: rgb(255, 255, 255);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  min-height: 100vh;
  background-color: rgb(11, 18, 21);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
}

.login-header {
  margin-bottom: 0; /* Remove space below the logo */
}

.login-logo {
  height: 20vmin; /* Adjust the height as needed */
  max-width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Remove additional margin */
  padding-top: 0; /* Remove padding to eliminate space */
}

.login-content p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.login-content small {
  display: block;
  margin-bottom: 10px; /* Reduce space below small text */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Remove space above the form */
}

form input {
  background-color: rgb(179, 179, 179);
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 25px;
  width: 300px !important;
  max-width: 100% !important;
}

form input::placeholder {
  font-family: "Aldrich", sans-serif;
  color: rgb(255, 255, 255); /* Set placeholder/background color in input field */
}

form button {
  font-family: "Aldrich", sans-serif;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(33, 136, 56);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100px !important;
  max-width: 100% !important;
}

form button:hover {
  background-color: rgb(110, 228, 126);
}

.login-footer {
  margin-top: 7px; /* Ensure there is space above the footer */
}
