.question{
  font-size: 70px;
  color: white;
  
  position: absolute;
  align-content: center ;
}


.star-on {
  color: gold;
  
}

.star-off {
  color: #ccc; 

}
.stars{
  font-size: 100px;
  margin-top: 60px;
}
