.question{
  font-size: 70px;
  color: rgb(255, 255, 255);
}


.star-on {
  color: rgb(255, 215, 0);
  
}

.star-off {
  color: rgb(204, 204, 204); 

}
.stars{
  font-size: 100px;
  margin-top: 60px;
}

  